.gallery {
    padding: 10px;
    padding-left: 0;
}

.gallery ul {
    display: flex;
    flex-direction: row;
}

.gallery ul li {
    margin-left: 10px;
}

.gallery ul li:first-child {
    margin-left: 0px;
}

.gallery ul li a img {
    width: 90%;
    border:  solid 1px white;
    border-radius: 15px;
}